html
h1  Sign in 
  p
  form
    | Username: 
    input#inputUserName(type='text', name='username', required='')
    br
    p
    | Password: 
    input#inputPassword(type='password', name='password', required='')
    p
    button#btnSubmit(type='submit') Sign up
  p
    | No account? 
    a(href='slothSignupSimple.html') Sign up