doctype html
html
h1 Sign up
  p
  p
    form
      | Username: 
      input#inputUserName(type='text', name='username', required='')
      br
      p
      | Email: 
      input#inputUserEmail(type='email', name='useremail', required='')
      br
      p
      | Password: 
      input#inputPassword(type='password', name='password', required='')
      p
      button#btnSubmit(type='submit', value='Submit The Forrm') Sign up
  p
    | Already have an account? 
    a(href='slothLoginSimple.html') Sign in
