<!DOCTYPE>
<html>
    <body>
		<div id="register" class="animate form">
			<form  action="mysuperscript.php" autocomplete="on"> 
				<h1> Sign Up </h1> 
				<p> 
					<label for="usernamesignup" class="uname" data-icon="u">Create Username</label>
					<input id="usernamesignup" name="usernamesignup" required="required" type="text" placeholder="" />
				</p>
				<p> 
					<label for="emailsignup" class="youmail" data-icon="e" > Email</label>
					<input id="emailsignup" name="emailsignup" required="required" type="email" placeholder=""/> 
				</p>
				<p> 
					<label for="passwordsignup" class="youpasswd" data-icon="p">Create Password </label>
					<input id="passwordsignup" name="passwordsignup" required="required" type="password" placeholder=""/>
				</p>
				<p> 
					<label for="passwordsignup_confirm" class="youpasswd" data-icon="p">Confirm Password </label>
					<input id="passwordsignup_confirm" name="passwordsignup_confirm" required="required" type="password" placeholder=""/>
				</p>
				<p class="signin button"> 
					<input type="submit" value="Sign up"/> 
				</p>
				<p class="change_link">  
					OR
					<a href="slothLogin.html" class="to_register"> Log In </a>
				</p>
			</form>
    </body>
</html>