#article_title{
    font-family: 'Dancing Script', Georgia, Times, serif;
    font-size: 50px;
    text-align:center;
    color: blue;
    
}
h1 {
    font-family: 'Dancing Script', Georgia, Times, serif;
    font-size: 50px;
    text-align:center;
    color: blue;
    
}
body {
    background-color: powderblue;
}
#Signika {
    font-family: 'Signika', sans-serif;
    font-size: 30px;
}
header {
	width: 100%;
	height: 5%;
	background-color: #52bad5;
	border-bottom: 1px solid #2C9AB7;
}